# **Guia Prático SQL**

Bancos de dados geralmente costumam utilizar data no formato: **AAAA-MM-DD (ano, mês e dia)**.

Separadores de decimais são **"."** ao invés de **","**.

Ordem de inserção dos comandos: **Execução (Join se necessário) - Filtro - Agregação - Ordenação - Limite**

Sendo:

## **Execução**

In [ ]:
SELECT
    Created_At AS Data_Criacao,
    Id AS CodPro,
    Title AS Titulo,
    Category AS Categoria,
    Price AS Preço,
    Rating AS Avaliacao
FROM Products;

### **Operações Aritméticas (resultados em colunas novas)**

In [ ]:
SELECT
    Id AS ID_Pedido,
    User_ID AS Cliente,
    Product_ID AS ID_Produto,
    Subtotal,
    Tax,
    Total,
    Discount,
    Subtotal + Tax AS Soma1,
    Subtotal + Tax - Discount AS Soma2,
    Tax / Subtotal AS Taxa
FROM Orders;

### **Ordenação e Limite**

In [ ]:
SELECT
    Product_ID AS ID_Produto,
    Subtotal,
    Tax,
    Subtotal + Tax AS Valor_Total,
    Discount,
    Discount / (Subtotal + Tax) * 100 AS Percent_Disc,
    Total
FROM Orders
ORDER BY Percent_Disc DESC
LIMIT 10;

Exemplos de diversos operadores: https://dev.mysql.com/doc/refman/8.4/en/arithmetic-functions.html

Funções numéricas e operadores: https://dev.mysql.com/doc/refman/8.4/en/numeric-functions.html

## **Filtragem com WHERE**

In [ ]:
SELECT *
FROM Users
WHERE Created_At > '2022-01-01';

SELECT *
FROM Products
WHERE Category = 'electronics';

SELECT *
FROM Orders
WHERE Total > 100 AND Discount > 0;

### **Cláusula LIKE**

In [ ]:
SELECT *
FROM Products
WHERE Title LIKE '%phone%';

### **Ordenação com ORDER BY**

In [ ]:
SELECT *
FROM Products
ORDER BY Rating DESC;

### **Limite de Resultados com LIMIT**

In [ ]:
SELECT *
FROM Products
ORDER BY Rating DESC
LIMIT 5;

### **DISTINCT: Elimina Duplicados**

In [ ]:
SELECT DISTINCT Category
FROM Products;

### **Funções Agregadas**

In [ ]:
SELECT COUNT(*) FROM Users;
SELECT COUNT(*) FROM Orders WHERE Discount > 0;

SELECT MAX(Price) FROM Products;
SELECT MIN(Price) FROM Products;

SELECT AVG(Rating) FROM Products;
SELECT SUM(Total) FROM Orders;

### **GROUP BY**

In [ ]:
SELECT Category, COUNT(*) AS Qtd_Produtos
FROM Products
GROUP BY Category;

SELECT User_ID, SUM(Total) AS Total_Compras
FROM Orders
GROUP BY User_ID;

### **HAVING (Filtra após o agrupamento)**

In [ ]:
SELECT User_ID, SUM(Total) AS Total_Compras
FROM Orders
GROUP BY User_ID
HAVING Total_Compras > 500;

### **ORDER BY com GROUP BY**

In [ ]:
SELECT User_ID, COUNT(*) AS Qtd_Pedidos
FROM Orders
GROUP BY User_ID
ORDER BY Qtd_Pedidos DESC;

### **INNER JOIN**

In [ ]:
SELECT
    Orders.Id AS ID_Pedido,
    Users.Name AS Cliente,
    Products.Title AS Produto,
    Orders.Total
FROM Orders
INNER JOIN Users ON Orders.User_ID = Users.Id
INNER JOIN Products ON Orders.Product_ID = Products.Id;

### **LEFT JOIN**

In [ ]:
SELECT
    Users.Id AS ID_Cliente,
    Users.Name AS Nome,
    Orders.Id AS Pedido,
    Orders.Total
FROM Users
LEFT JOIN Orders ON Users.Id = Orders.User_ID;

### **RIGHT JOIN**

In [ ]:
SELECT
    Orders.Id AS Pedido,
    Orders.Total,
    Users.Name AS Cliente
FROM Orders
RIGHT JOIN Users ON Orders.User_ID = Users.Id;

### **FULL OUTER JOIN**

In [ ]:
SELECT *
FROM Users
LEFT JOIN Orders ON Users.Id = Orders.User_ID
UNION
SELECT *
FROM Users
RIGHT JOIN Orders ON Users.Id = Orders.User_ID;

### **Subqueries (Consultas Aninhadas)**

In [ ]:
SELECT *
FROM Orders
WHERE Total > (
    SELECT AVG(Total)
    FROM Orders
);

SELECT Name
FROM Users
WHERE Id IN (
    SELECT User_ID
    FROM Orders
    WHERE Discount > 0
);

### **CTE - Common Table Expression**

In [ ]:
WITH PedidosPorCliente AS (
    SELECT User_ID, SUM(Total) AS Total_Compras
    FROM Orders
    GROUP BY User_ID
)
SELECT
    Users.Name AS Cliente,
    PedidosPorCliente.Total_Compras
FROM PedidosPorCliente
INNER JOIN Users ON PedidosPorCliente.User_ID = Users.Id
WHERE PedidosPorCliente.Total_Compras > 500;

### **Funções com Datas**

In [ ]:
SELECT
    Id,
    Created_At,
    DATE(Created_At) AS Data,
    strftime('%Y', Created_At) AS Ano,
    strftime('%m', Created_At) AS Mes,
    strftime('%Y-%m', Created_At) AS AnoMes
FROM Orders;

### **CASE WHEN**

In [ ]:
SELECT
    Id,
    Total,
    CASE
        WHEN Total > 1000 THEN 'Alto'
        WHEN Total BETWEEN 500 AND 1000 THEN 'Médio'
        ELSE 'Baixo'
    END AS Faixa_Valor
FROM Orders;

### **Criação de Tabela**

In [ ]:
CREATE TABLE Vendas (
    Id INTEGER PRIMARY KEY,
    Produto TEXT,
    Quantidade INTEGER,
    Valor REAL,
    Data DATE
);

### **Inserção de Dados**

In [ ]:
INSERT INTO Vendas (Produto, Quantidade, Valor, Data)
VALUES ('Mouse', 10, 25.5, '2023-06-01');

### **Atualização de Registros**

In [ ]:
UPDATE Vendas
SET Valor = 30
WHERE Produto = 'Mouse';

### **Exclusão de Registros**

In [ ]:
DELETE FROM Vendas
WHERE Quantidade = 0;

### **DROP TABLE**

In [ ]:
DROP TABLE Vendas;